body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 600px;
    width:500px;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y:scroll;
}

.content-container{
    flex-direction: column;
    text-align: center;
}

.container {
    padding: 20px;
    border-radius: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

button {
    background-color: #ff0000;
    color: #fff;
    font-size: 1.5rem;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    width: 75vh;
    height: 50px;
}

.dropbtn {
    background-color: #3498db;
    color: #fff;
    font-size: 1.5rem;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    width: 75vh;
    height: auto;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
    width: auto;
}

.dropdown-content a {
    color: #333;
    padding: 15px;
    font-size: 1.25rem;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
    border-radius: 10px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

/* Set the width of dropdown content using JavaScript */
.dropdown.open .dropdown-content {
    display: block;
    width: auto;
}

h1 {
    text-align: center; /* Center the title */
    padding: 20px;
    background-color: #e0e0e0;
}

h2 {
    text-align: center; /* Center the title */
    padding: 10px;
}